@page
@model Software_Projekt.Pages.Shared.Database_Search
@{
}


<form asp-page="About">
    <select name="number">
        <option value="">Wählen Sie Ihre Fachrichtung</option>
        <option value="1">BWL </option>

        <option value="2">WI</option>

    </select>

    <select name="number2">
        <option value="">Wählen Sie Ihre Fach</option>
        <option value="1"> GSE</option>
        <option value="2"> Statistik</option>
        <option value="3">  Mathe</option>
        <option value="4"> UI</option>
    </select>

    <button type="submit">Submit Form</button>
    <p id="demo"></p>
</form>















