@page
@model Software_Projekt.Pages.Shared.Datenbanken_TabellenModel
@{
}






<li class="nav-item">
    <a class="navbar-brand" asp-area="" asp-page="/Änderungen/Index">Änderungen</a>
</li>

<li class="nav-item">
    <a class="navbar-brand" asp-area="" asp-page="/Modules/Index">Module</a>
</li>
<li class="nav-item">
    <a class="navbar-brand" asp-area="" asp-page="/Modulhandbuche/Index">Modulhandbüche</a>
</li>
<li class="nav-item">
    <a class="navbar-brand" asp-area="" asp-page="/Modulverantwortlicher/Index">Modulverantwortlicher</a>
</li>
<li class="nav-item">
    <a class="navbar-brand" asp-area="" asp-page="/Programmverantwortlicher/Index">Programmverantwortlicher</a>
</li>
<li class="nav-item">
    <a class="navbar-brand" asp-area="" asp-page="/Studiengänge/Index">Studiengänge</a>
</li>
<li class="nav-item">
    <a class="navbar-brand" asp-area="" asp-page="/testmodul/Index">modultest</a>
</li>