@page
@model Software_Projekt.Pages.Studiengänge.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Studiengang</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Studiengang.StudiengangId" />
            <div class="form-group">
                <label asp-for="Studiengang.Name" class="control-label"></label>
                <input asp-for="Studiengang.Name" class="form-control" />
                <span asp-validation-for="Studiengang.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Studiengang.ProgrammverantwortlichenId" class="control-label"></label>
                <input asp-for="Studiengang.ProgrammverantwortlichenId" class="form-control" />
                <span asp-validation-for="Studiengang.ProgrammverantwortlichenId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Studiengang.FachbereichId" class="control-label"></label>
                <input asp-for="Studiengang.FachbereichId" class="form-control" />
                <span asp-validation-for="Studiengang.FachbereichId" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
